.services-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  
}

.search-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.service-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-price {
  color: #2e8b57;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.book-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-button:hover {
  background-color: #0056b3;
}

.back-button {
  padding: 10px 20px;
  background-color: #4c1bec;
  color: white;
  border: none;
 
  border-radius: 10px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #2915c1;
}

    @media (max-width: 768px) {
      .service-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media (max-width: 480px) {
      .service-grid {
        grid-template-columns: 1fr;
      }
    }
    